.label-index-list {
  width:98%;
  min-height: 1200px;
  background-color: white;
}

.article-label {
  width:100%;
  padding:20px;
}

.article-label h2 {
  font-size:1.6rem;

}

.article-label li {
  list-style:none;
  font-size: 1.1rem;
  margin-top: 5px;
}
